main {
  max-width: 855px;
  margin: 30px auto;
}

.checkout__summary {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.checkout__summary div {
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
}

.checkout__summary img {
  width: 100px;
  margin: 20px;
}

.checkout__summary-product {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.checkout__summary-product-total {
  display: inline-flex;
  justify-content: space-between;
  text-align: right;
}

.checkout__information {
  text-align: center;
}

.contact_form {
  width: 350px;
}

input {
  margin: 10px auto;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid var(--grey);
  display: block;
}

button {
  width: 100px;
  height: 40px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1em;
}

.errorMessage {
  margin: -10px auto 10px auto;
  margin-right: 120px;
  font-size: small;
  text-align: right;
  color: var(--medium-aqua);
  display: none;
}

.cta {
  text-align: center;
  width: 200px;
  margin: 30px auto;
}
