main {
  max-width: 855px;
  margin: 30px auto;
}

.checkout__summary {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.checkout__summary div {
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
}

.checkout__summary img {
  width: 100px;
  margin: 20px;
}

.checkout__summary-product {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.checkout__summary-product-total {
  display: inline-flex;
  justify-content: space-between;
  text-align: right;
}

.checkout__information {
  text-align: center;
}

.contact_form {
  width: 350px;
}

input {
  margin: 10px auto;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid var(--grey);
  display: block;
}

button {
  width: 200px;
  text-align: center;
  background: var(--grey);
  color: var(--white);
  font-size: 1em;
  padding: 5px 30px;
  border: 2px solid var(--light-grey);
  border-radius: 20px;
}

.completePurchase {
  width: 200px;
  text-align: center;
  background: var(--medium-aqua);
  color: var(--white);
  font-size: 1em;
  padding: 5px 30px;
  border: 2px solid var(--light-green);
  border-radius: 20px;
}

.errorMessageCheckout {
  margin: -10px auto 10px auto;
  margin-right: 120px;
  font-size: small;
  text-align: right;
  color: var(--medium-aqua);
  display: none;
}
