main {
  margin: auto;
}

.inspiration__page {
  max-width: 855px;
  margin: 50px auto;
  display: inline-flex;
  flex-direction: column;
}

.inspiration__page div {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

.inspiration__page img {
  max-width: 300px;
  margin: 20px;
}

.float {
  float: left;
}
