main {
  max-width: 2000px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto;
}

header img {
  max-width: 300px;
  padding: 10px auto;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px;
  max-width: 100%;
  justify-self: center;
  margin-right: 40px;
}

.products div {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.products img {
  display: grid;
  width: 200px;
  display: inline-block;
}

.products p {
  position: absolute;
  padding: 10px;
  background-color: var(--medium-green);
  opacity: 0.7;
  width: 100%;
  top: 170px;
  font-size: 1.5em;
  color: var(--white);
}

.inspiration__featured {
  border-left: 1px solid var(--medium-green);
  padding: 0 30px;
}

.inspiration__featured div {
  margin: auto auto 40px auto;
}

.inspiration__featured p {
  margin-bottom: 5px;
}

.inspiration__featured img {
  max-width: 200px;
}
