header img {
  max-width: 180px;
  padding: 10px;
  text-align: left;
}

main {
  margin: auto;
}

.inspiration__page {
  max-width: 855px;
  display: flex;
  flex-direction: column;
}

.inspiration__page div {
  border-bottom: 1px solid var(--medium-green);
  margin: 20px auto;
}

.inspiration__page img {
  max-width: 300px;
  margin: 20px;
}

.float {
  float: left;
}

/* .contact_link {
  text-deoration: underline;
}

a:hover {
  text-decoration: underline;
} */
