@media only screen and (min-width: 1025px) {
}

@media only screen and (min-width: 821px) and (max-width: 1024px) {
  body {
    max-width: 1024px;
  }

  header nav li {
    display: inline-flex;
    justify-content: space-between;
    color: #115c66;
    padding: 10px;
    margin: auto 10px;
  }

  main {
    margin: auto 40px;
  }

  .jackets-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
  }

  .jackets-list div {
    width: 200px;
    margin: auto;
  }

  .checkout {
    margin: 30px 100px;
  }

  .about-content div {
    margin: auto 50px;
  }

  .contact-page {
    margin: 40px auto;
  }
  footer {
    gap: 100px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 820px) {
  body {
    font-size: 0.8em;
    max-width: 820px;
  }

  header nav li {
    display: inline-flex;
    justify-content: space-between;
    color: #115c66;
    padding: 10px;
    margin: auto 10px;
  }

  main {
    margin: auto 50px;
  }

  /* Home Page */
  .products {
    display: block;
    margin: auto;
  }

  .products div {
    margin: 20px;
  }

  .inspiration__featured img {
    width: 180px;
  }

  /* Jackets */
  .jackets-list div {
    max-width: 200px;
  }

  .jackets-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
  }

  /* The Rain Jacket */
  .product-page img {
    width: 200px;
  }

  .product-page__presentation img {
    width: 70px;
  }

  /* About */

  .about-content div {
    margin: auto 50px;
  }

  .inspiration__page img,
  .about-content img {
    width: 200px;
  }

  .contact-page {
    margin: 40px auto;
  }
  /* Footer */
  footer {
    gap: 50px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8em;
    max-width: 600px;
  }

  header {
    margin: 10px auto;
  }

  header img {
    max-width: 150px;
    margin-bottom: 10px;
  }

  header nav li {
    display: inline-flex;
    justify-content: space-between;
    color: #115c66;
    padding: 10px;
    margin: auto;
  }

  main {
    display: block;
    text-align: center;
    margin: auto 10px;
  }

  /* Home Page */
  .products {
    display: block;
    margin: auto;
    border-bottom: 1px solid grey;
  }

  .products div {
    margin: 20px auto;
    width: 200px;
  }

  .product-page p,
  .product-page ul {
    text-align: left;
  }

  .inspiration__featured {
    border-left: none;
  }

  .inspiration__featured-posts {
    margin: auto auto 20px auto;
  }

  /* Jackets */
  .jackets-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
    overflow: hidden;
  }

  .jackets-list div {
    width: 170px;
    margin: auto;
  }

  .jackets-list img {
    width: 170px;
  }

  .jackets__sale {
    top: 170px;
  }

  /* The Rain Jacket */
  .product-page {
    display: block;
  }

  .product-page img {
    width: 200px;
  }

  .product-page__presentation img {
    width: 70px;
  }

  .product-page__reviews {
    text-align: left;
  }

  /* Checkout Pages */
  .checkout__summary-product {
    display: block;
  }

  .checkout__summary-product p {
    margin: 10px;
  }

  /* Inspiration */
  .inspiration__page {
    display: block;
  }

  .inspiration__page img,
  .about-content img {
    width: 200px;
  }

  /* About */
  .about-content div {
    display: block;
    margin: auto 20px;
  }

  .float {
    float: none;
  }

  /* Contact */
  .contact-page {
    margin: auto;
    text-align: left;
  }

  .contact__form {
    width: 200px;
  }

  textarea {
    width: 200px;
  }

  .contact-page .cta {
    justify-self: right;
  }
  /* Footer */
  footer {
    display: block;
    text-align: center;
  }

  footer p {
    margin-top: 20px;
  }
}
