main {
  margin: 30px auto;
}

.jackets-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 20px;
}

.jackets div {
  position: relative;
  overflow: hidden;
}

.jackets h2 {
  max-width: 200px;
  font-size: 1.3em;
}

.jackets h2,
p {
  text-align: right;
  color: var(--medium-green);
}

.jackets p {
  margin: 5px auto;
}

.jackets img {
  max-width: 200px;
}

.jackets__sale {
  position: absolute;
  padding: 5px;
  width: 180px;
  text-align: center;
  background: var(--white);
  color: var(--aqua);
  transform: rotate(40deg);
  top: 210px;
  left: -50px;
}

.jackets__before-price {
  text-decoration: line-through;
  font-style: italic;
  font-size: 0.9em;
}