@import "imports/links.css";
@import "imports/variables.css";

body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--light-grey);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Bahnschrift", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--medium-green);
}

header {
  width: 100%;
  text-align: center;
  margin: 10px 0 40px 0;
}

header img {
  max-width: 180px;
  padding: 10px;
}

footer {
  max-width: 2000px;
  margin: 50px auto;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 200px;
  border-top: 1px solid var(--grey);
}

footer a {
  display: block;
  padding: 5px;
}

footer p {
  margin-top: 5px;
  padding-top: 0;
}
