main {
  max-width: 855px;
  margin: 30px auto;
}

.product-page {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  max-width: 100%;
}

.product-page img {
  width: 300px;
}

.product-page__info div {
  margin-bottom: 40px;
}

.product-page__presentation {
  display: inline-block;
}

.product-page__presentation img {
  width: 100px;
}

.product-page__price-tag {
  text-align: right;
}

select {
  padding: 5px;
  width: 200px;
  margin-bottom: 25px;
}

.product-page ul {
  list-style: circle;
}

.product-page__promotions {
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
}

.jackets-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 20px;
}

.jackets h3,
.jackets p {
  max-width: 200px;
  font-size: 1em;
  text-align: right;
  color: var(--medium-green);
}

.jackets img {
  max-width: 200px;
}
