main {
  max-width: 855px;
  margin: 30px auto;
}

.product {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  max-width: 100%;
  justify-self: center;
  margin-right: 40px;
}

.product img {
  width: 300px;
}

.product__presentation {
  display: inline-block;
}

.product__presentation img {
  width: 100px;
}

select {
  padding: 5px;
  width: 150px;
}

.product ul {
  list-style: none;
}

.product__promotions {
  border-top: 1px solid#707070;
  border-bottom: 1px solid#707070;
}

.jackets-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 20px;
}

.jackets h3 {
}

.jackets h3,
.jackets p {
  max-width: 200px;
  font-size: 1em;
  text-align: right;
}

.jackets img {
  max-width: 200px;
}

.product__reviews {
}
