body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Bahnschrift", Tahoma, Geneva, Verdana, sans-serif;
  color: #0b3a40;
}

header {
  width: 100%;
  text-align: center;
  margin: 10px 0 40px 0;
}

header img {
  max-width: 300px;
  padding: 10px auto;
}

header nav ul {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
}

header nav li {
  max-width: 2000px;
  display: inline-flex;
  justify-content: space-between;
  color: #115c66;
  padding: 10px;
  margin: auto 40px;
}

footer {
  max-width: 2000px;
  margin: 50px auto;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 200px;
  border-top: 1px solid #707070;
}

footer a {
  display: block;
  padding: 5px;
}

footer p {
  margin-top: 5px;
  padding-top: 0;
}

.facebook-logo {
  width: 50px;
  margin: 15px 32px;
}

/* Links */
a {
  text-decoration: none;
  color: #4a93a3;
}

/* Home Page */
main {
  max-width: 2000px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto 200px;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px;
  max-width: 100%;
  justify-self: center;
  margin-right: 40px;
}

.products img {
  display: grid;
  width: 100%;
  max-width: 200px;
}

.inspiration__featured {
  border-left: 1px solid#0B3A40;
  padding: 0 30px;
}

.inspiration__featured div {
  margin: auto auto 40px auto;
}

.inspiration__featured p {
  margin-bottom: 5px;
}

.inspiration__featured img {
  width: 100%;
  max-width: 200px;
}

/* Media Queries */
@media only screen and (min-width: 1025px) {
  .products img {
    width: 200px;
  }

  .inspiration__featured img {
    width: 200px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 1024px) {
  header nav li {
    max-width: 1024px;
    display: inline-flex;
    justify-content: space-between;
    color: #115c66;
    padding: 10px;
    margin: auto 10px;
    font-size: 0.8em;
  }

  main {
    max-width: 1024px;
    margin: auto 100px;
  }

  .products img,
  .inspiration__featured img {
    min-width: 130px;
    max-width: 200px;
  }

  footer {
    max-width: 1024px;
    grid-gap: 100px;
  }
}

@media only screen and (max-width: 399px) {
  header {
    margin: 10px auto;
  }

  header img {
    max-width: 150px;
    margin-bottom: 10px;
  }

  main {
    display: block;
    max-width: 399px;
    text-align: center;
    margin: 0 90px;
  }

  .products {
    display: block;
    margin: auto;
    border-bottom: 1px solid grey;
  }

  .products div {
    margin: 20px auto;
  }

  .products img {
    max-width: 100%;
  }

  .inspiration__featured {
    border-left: none;
  }

  .inspiration__featured-posts {
    margin: auto auto 20px auto;
  }

  footer {
    display: block;
  }

  footer p {
    margin-top: 20px;
  }
}
